<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 90vh;
  }
  .welcome img {
    padding: 1rem;
    max-height: 6rem;
  }
</style>
<div class="container">
  <div class="welcome">
    <h1>Welcome to Fanp Ad</h1>
    <p>Please visit the React Application at <a href="/dashboard">the dashboard.</a></p>
    <p><img src="/assets/character.png" alt=""></p>
  </div>
</div>
