// Icons
@font-face {
  font-family: 'bottree_icons';
  src: url('../../assets/fonts/bottree_icons_2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import '../notosansjapanese'
